* {
  font-family: "Hack Nerd Font", monospace;
  font-size: 13px;
  border: none;
  padding: 0 8px;
  margin: 0;
  color: #c0caf5;
  background: transparent;
}

window#waybar {
  background: #1a1b26;
  border-bottom: 2px solid #7aa2f7;
}

.module {
  margin-top: 4px;
  margin-bottom: 4px;
}

#workspaces {
  margin-left: 0;
}

#workspaces button.focused {
  background-color: #22344a; /* Darker blue that fits Tokyo Night */
  border-radius: 4px; /* subtle rounding */
}

#network {
  color: #7aa2f7;  /* Blue */
  background: #1a1b26;
}

#cpu {
  color: #9ece6a;  /* Green */
  background: #1a1b26;
}

#memory {
  color: #bb9af7;  /* Magenta */
  background: #1a1b26;
}

#temperature {
  color: #7dcfff;  /* Cyan */
  background: #1a1b26;
}

#clock {
  color: #c0caf5;
}

#battery {
  color: #9ece6a;  /* Green for good status */
  background: #1a1b26;
}

#battery.critical {
  color: #f7768e; /* Red */
  background: #1a1b26;
}

#custom-bluetooth {
  color: #000000;
}

#custom-bluetooth.on {
  color: #9ece6a;
}

#custom-bluetooth.off {
  color: #f7768e;
}

#pulseaudio {
  color: #e0af68;  /* Yellow */
  background: #1a1b26;
}

