[Desktop Entry]
Version=1.0
Name=Outlook
Exec=brave --app=https://outlook.office.com --name=Outlook --class=Brave-browser --profile-directory="Profile 2"
Terminal=False
Type=Application
# Annoyingly, fuzzel doesn't seem to expand shell variables so $HOME or $USER don't work here - have to hardcode the username :(
Icon=/home/alex/.local/share/applications/icons/Outlook.png
Categories=GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
